wf-2-similarity.json
{
  "name": "2. Jenia - Similarity Score",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "similarity-score", "responseMode": "lastNode", "options": {} },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": { 
        "promptType": "define", 
        "text": "Analizza il seguente testo di un documento tecnico/brevettuale. Restituisci SOLO un JSON valido con: score (0-100), matchedPatents (numero), litigationRisk (oggetto con overallLevel HIGH/MEDIUM/LOW, highRiskCount, mediumRiskCount, lowRiskCount, recommendation), whiteSpaceAreas (array di label+coverage), bypassStrategies (array di stringhe), claimsPrediction (total, vulnerable, safe, uncertain), timeToObsolete (stringa). Testo: {{ $json.body.text }}", 
        "options": { "systemMessage": "Sei un analista brevettuale esperto. Rispondi SOLO con JSON valido, senza markdown o commenti." } 
      },
      "name": "LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1,
      "position": [250, 0]
    },
    {
      "parameters": { "model": "gpt-4o", "options": {} },
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [250, 200],
      "credentials": {
        "openAiApi": {
          "id": "T4mvEgIcxqkWo2x3",
          "name": "OpenAi account 3"
        }
      }
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "LLM Chain", "type": "main", "index": 0 }]] },
    "OpenAI Model": { "ai_languageModel": [[{ "node": "LLM Chain", "type": "ai_languageModel", "index": 0 }]] }
  },
  "settings": {}
}
