wf-3-alert.json
{
  "name": "3. Jenia - Patent Alert Cron",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 12 }]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "url": "https://psxttovzzwfamdwwjndx.supabase.co/rest/v1/keywords?select=keyword",
        "method": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBzeHR0b3Z6endmYW1kd3dqbmR4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM0ODUyOTksImV4cCI6MjA4OTA2MTI5OX0.3MIB5wJf7Liavtb5jsaGtfivehu0rnJNkO1tH5YfUf4" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBzeHR0b3Z6endmYW1kd3dqbmR4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM0ODUyOTksImV4cCI6MjA4OTA2MTI5OX0.3MIB5wJf7Liavtb5jsaGtfivehu0rnJNkO1tH5YfUf4" }
          ]
        }
      },
      "name": "Fetch Keywords",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [200, 0]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Based on these research keywords: {{ JSON.stringify($json) }}, generate a brief patent monitoring report. List any hypothetical recent patents that could be relevant, with title, company, risk_level (HIGH/MEDIUM/LOW), and a one-line summary. Return valid JSON array.",
        "options": { "systemMessage": "You are a patent intelligence analyst. Return only valid JSON." }
      },
      "name": "AI Summary",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1,
      "position": [400, 0]
    },
    {
      "parameters": { "model": "gpt-4o-mini", "options": {} },
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [400, 200],
      "credentials": {
        "openAiApi": {
          "id": "T4mvEgIcxqkWo2x3",
          "name": "OpenAi account 3"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "Fetch Keywords", "type": "main", "index": 0 }]] },
    "Fetch Keywords": { "main": [[{ "node": "AI Summary", "type": "main", "index": 0 }]] },
    "OpenAI Model": { "ai_languageModel": [[{ "node": "AI Summary", "type": "ai_languageModel", "index": 0 }]] }
  },
  "settings": {}
}
