wf-5-drive.json
{
  "name": "5. Jenia - Google Drive",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "drive", "responseMode": "lastNode", "options": {} },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.action }}",
              "value2": "list"
            }
          ]
        }
      },
      "name": "IF List",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [200, 0]
    },
    {
      "parameters": {
        "operation": "fileFolder",
        "limit": 50,
        "options": {}
      },
      "name": "GDrive List",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [400, -100],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0aVD5X6UwNIkHAJh",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $json.body.filename }}",
        "folderId": "root",
        "options": {}
      },
      "name": "GDrive Upload",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [400, 100],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "0aVD5X6UwNIkHAJh",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "IF List", "type": "main", "index": 0 }]] },
    "IF List": {
      "main": [
        [{ "node": "GDrive List", "type": "main", "index": 0 }],
        [{ "node": "GDrive Upload", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {}
}
