wf-5-drive.json
{
  "name": "5. Jenia - Google Drive",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "drive", "responseMode": "lastNode", "options": {} },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": { "dataType": "string", "value1": "={{ $json.body.action }}", "rules": { "rules": [{ "value2": "list", "output": 0 }, { "value2": "upload", "output": 1 }] } },
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [200, 0]
    },
    {
      "parameters": { "operation": "list", "limit": 50 },
      "name": "GDrive List",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [400, -100]
    },
    {
      "parameters": { "operation": "upload", "fileContent": "={{ $json.body.content }}", "fileName": "={{ $json.body.filename }}" },
      "name": "GDrive Upload",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [400, 100]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Switch", "type": "main", "index": 0 }]] },
    "Switch": { "main": [[{ "node": "GDrive List", "type": "main", "index": 0 }], [{ "node": "GDrive Upload", "type": "main", "index": 0 }]] }
  },
  "settings": {}
}
