wf-6-csv.json
{
  "name": "6. Jenia - CSV AI Clean",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "csv-clean", "responseMode": "lastNode", "options": {} },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": { "options": {} },
      "name": "Extract CSV",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [200, 0]
    },
    {
      "parameters": { "promptType": "define", "text": "Pulisci questa riga dati: {{ JSON.stringify($json) }}. Ritorna solo il JSON pulito.", "options": {} },
      "name": "AI Data Cleaner",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1,
      "position": [400, 0]
    },
    {
      "parameters": { "model": "gpt-4o-mini" },
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [400, 200]
    },
    {
      "parameters": { "operation": "write", "options": {} },
      "name": "Format CSV",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [600, 0]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Extract CSV", "type": "main", "index": 0 }]] },
    "Extract CSV": { "main": [[{ "node": "AI Data Cleaner", "type": "main", "index": 0 }]] },
    "OpenAI Model": { "ai_languageModel": [[{ "node": "AI Data Cleaner", "type": "ai_languageModel", "index": 0 }]] },
    "AI Data Cleaner": { "main": [[{ "node": "Format CSV", "type": "main", "index": 0 }]] }
  },
  "settings": {}
}
